<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.jsdvn2203.csmall.server.mapper.AlbumMapper">
    <!--    int insert(Album album);-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_album(name, description, sort, gmt_create, gmt_modified)
        VALUES (#{name}, #{description}, #{sort}, #{gmtCreate}, #{gmtModified})
    </insert>

    <!--    int deleteById(Long id);-->
    <delete id="deleteById">
        DELETE
        FROM pms_album
        WHERE id = #{id}
    </delete>

    <!-- int deleteByIds(Long... ids); -->
    <delete id="deleteByIds">
        DELETE FROM pms_album WHERE id IN (
        <foreach collection="array" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>
    <!--    int updateNameById(@Param("id") Long id,@Param("name") String name);-->
    <update id="updateNameById">
        UPDATE pms_album
        SET name = #{name}
        WHERE id = #{id}
    </update>
    <!--    int countByName(String name);-->
    <select id="countByName" resultType="int">
        SELECT COUNT(*)
        FROM pms_album
        WHERE name = #{name}
    </select>
    <!--    int countById(Long id);-->
    <select id="countById" resultType="int">
        SELECT COUNT(*)
        FROM pms_album
        WHERE id = #{id}
    </select>
</mapper>
