<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.jsdvn2203.csmall.server.mapper.CategoryMapper">

<!--    int insert(Category category);-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_category(name,
                                 parent_id,
                                 depth,
                                 keywords,
                                 sort,
                                 icon,
                                 enable,
                                 is_parent,
                                 is_display,
                                 gmt_create,
                                 gmt_modified)
        VALUES (#{name},
                #{parentId},
                #{depth},
                #{keywords},
                #{sort},
                #{icon},
                #{enable},
                #{isParent},
                #{isDisplay},
                #{gmtCreate},
                #{gmtModified})
    </insert>

<!--    int deleteById(Long id);-->
    <delete id="deleteById">
        DELETE
        FROM pms_category
        WHERE id = #{id}
    </delete>

    <!--    int deleteByIds(Long id);-->
    <delete id="deleteByIds">
        DELETE
        FROM pms_category
        WHERE IN (
        <foreach collection="array" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>

    <!--    int countByName(String name);-->
    <select id="countByName" resultType="int">
        SELECT COUNT(*)
        FROM pms_category
        WHERE name = #{name}
    </select>

<!--    int countById(Long id);-->
    <select id="countById" resultType="int">
        SELECT COUNT(*)
        FROM pms_category
        WHERE id = #{id}
    </select>

<!--    int countByParentId(Long parentId);-->
<select id="countByParentId" resultType="int">
    SELECT COUNT(*) FROM pms_category WHERE  parent_id=#{parentId}
</select>

    <!-- List<CategoryListItemVO> listByParentId(Long parentId); -->
    <select id="listByParentId" resultMap="ListItemResultMap">
        SELECT
        <include refid="ListItemQueryFields" />
        FROM
        pms_category
        WHERE
        parent_id=#{parentId}
        ORDER BY
        sort DESC, id
    </select>

<!--    List<CategoryListItemVO> list();-->
    <select id="list" resultMap="ListItemResultMap">
        SELECT
        <include refid="ListItemQueryFields"/>
        FROM pms_category
        ORDER BY id
    </select>
    <resultMap id="ListItemResultMap" type="cn.tedu.jsdvn2203.csmall.server.pojo.vo.CategoryListItemVO">
        <result column="parent_id" property="parentId"></result>
        <result column="is_parent" property="isParent"></result>
        <result column="is_display" property="isDisplay"></result>
        <result column="gmt_create" property="gmtCreate"></result>
        <result column="gmt_modified" property="gmtModified"></result>
    </resultMap>
    <sql id="ListItemQueryFields">
        <if test="true">
            id,
            name,
            parent_id,
            depth,
            keywords,
            sort,
            icon,
            enable,
            is_parent,
            is_display,
            gmt_create,
            gmt_modified
        </if>
    </sql>
<!--    CategoryDetailVO getParentId(Long id);-->
    <select id="getParentId" resultMap="detailResultMap">
        SELECT
        <include refid="DetailQueryFields" />
        FROM pms_category
        WHERE parent_id = #{parentId}
    </select>

<!--    CategoryDetailVO getById(Long id);-->
    <select id="getById" resultMap="detailResultMap">
        SELECT
        <include refid="DetailQueryFields" />
        FROM pms_category
        WHERE id = #{id}
    </select>
    <resultMap id="detailResultMap" type="cn.tedu.jsdvn2203.csmall.server.pojo.vo.CategoryDetailVO">
        <result column="parent_id" property="parentId"></result>
        <result column="is_parent" property="isParent"></result>
        <result column="is_display" property="isDisplay"></result>
        <result column="gmt_create" property="gmtCreate"></result>
        <result column="gmt_modified" property="gmtModified"></result>
    </resultMap>
    <sql id="DetailQueryFields">
        <if test="true">
            id,
            name,
            parent_id,
            keywords,
            depth,
            sort,
            icon,
            enable,
            is_parent,
            is_display,
            gmt_create,
            gmt_modified
        </if>
    </sql>

    <!-- int updateById(Category category);-->
    <update id="updateById">
        UPDATE pms_category
        <set>
            <if test="name != null">
                name=#{name},
            </if>
            <if test="parentId != null">
                parent_id=#{parentId},
            </if>
            <if test="depth !=null">
                depth =#{depth},
            </if>
            <if test="keywords !=null">
                keywords=#{keywords},
            </if>
            <if test="sort != null">
                sort=#{sort},
            </if>
            <if test="icon != null">
                icon=#{icon},
            </if>
            <if test="enable != null">
                enable=#{enable},
            </if>
            <if test="isParent !=null">
                is_parent=#{isParent},
            </if>
            <if test="isDisplay !=null">
                is_display=#{isDisplay},
            </if>
            <if test="gmtModified != null">
                gmt_modified =#{gmtModified}
            </if>
        </set>
        WHERE id =#{id}
    </update>


</mapper>
