<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.jsdvn2203.csmall.server.mapper.SpuMapper">

<!--    int insert(Spu spu);-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_spu(id,
                            name,
                            type_number,
                            title,
                            description,
                            list_price,
                            stock,
                            stock_threshold,
                            unit,
                            brand_id,
                            brand_name,
                            category_id,
                            category_name,
                            attribute_template_id,
                            album_id,
                            pictures,
                            keywords,
                            tags,
                            sales,
                            comment_count,
                            positive_comment_count,
                            sort,
                            is_deleted,
                            is_published,
                            is_new_arrival,
                            is_recommend,
                            is_checked,
                            check_user,
                            gmt_check,
                            gmt_create,
                            gmt_modified)
        VALUES (#{id},
                #{name},
                #{typeNumber},
                #{title},
                #{description},
                #{listPrice},
                #{stock},
                #{stockThreshold},
                #{unit},
                #{brandId},
                #{brandName},
                #{categoryId},
                #{categoryName},
                #{attributeTemplateId},
                #{albumId},
                #{pictures},
                #{keywords},
                #{tags},
                #{sales},
                #{commentCount},
                #{positiveCommentCount},
                #{sort},
                #{isDeleted},
                #{isPublished},
                #{isNewArrival},
                #{isRecommend},
                #{isChecked},
                #{checkUser},
                #{gmtCheck},
                #{gmtCreate},
                #{gmtModified})
    </insert>

<!--    int deleteById(Long id);-->
    <delete id="deleteById">
        DELETE
        FROM pms_spu
        WHERE id = #{id}
    </delete>

<!--    int deleteByIds(Long... id);-->
    <delete id="deleteByIds">
        DELETE FROM pms_spu
        WHERE IN (
        <foreach collection="array" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>
</mapper>
